<% if current_admin? %>
  <%= render partial: 'layouts/admin_nav' %>
<% end %>


<%= render partial: 'layouts/sidebar' %>

<div class="container col-xs-8 articles-container">

  <% Article.all.each do |article|%>
    <div class="col-xs-6 portfolio-item pull-left">
      <a href="#">
         <%= image_tag article.picture.url(:thumb), :class => "img-responsive" %>
      </a>
    </div>
  <% end %>

  <hr>

  <footer>
    <div class="row">
      <div class="col-xs-12">
        <p>Copyright &copy; Your Website 2014</p>
      </div>
    </div>
  </footer>

</div>