<div class="about-me-picture">
  <img class="col-xs-5" src="http://41.media.tumblr.com/6975ec784d027b243b219d6c829db501/tumblr_inline_npsefz1wlZ1rp5t2m_500.jpg">
</div>

<div class="col-xs-7">
  <h1>Jason O. Gilbert</h1>
  <h2>Writer, Editor, Inspiration for the 2009 Film "Hotel for Dogs"</h2>
</div>



