body { padding: 0 30px;}
div.main-content { padding-top: 150px; }
div.alert {
  z-index: 9999;
  position: relative;
  top: 0;
}
.field_with_errors {
  display: inline-block;

  label { color: red; }
}




@font-face {
  font-family: 'Glyphicons Halflings';

  src: font-url("glyphicons-halflings-regular.eot");
  src: font-url("glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'),
       font-url("glyphicons-halflings-regular.woff2") format('woff2'),
       font-url("glyphicons-halflings-regular.woff") format('woff'),
       font-url("glyphicons-halflings-regular.ttf") format('truetype'),
       font-url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format('svg');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flaticon';

  src: font-url('Flaticon.eot');
  src: font-url('Flaticon.eot?#iefix') format('embedded-opentype'),
       font-url('Flaticon.woff') format('woff'),
       font-url('Flaticon.ttf') format('truetype'),
       font-url('Flaticon.svg#flaticon') format('svg');

  font-weight: normal;
  font-style: normal;
}

a,
a:hover,
a:active { text-decoration: none !important; }

ul {
  list-style-type: none;
  margin: 0;
}

/* social icons */


@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-social:before { content: "\f100"; }
.flaticon-social-1:before { content: "\f101"; }
.flaticon-social-2:before { content: "\f102"; }
.flaticon-social-3:before { content: "\f103"; }
.flaticon-social-4:before { content: "\f104"; }

/* end social icons */