div.main-header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;

  h1 {
    font-size: 2rem;
  }
  ul { text-align: right; }
  li { display: inline-block; }
  i {
    font-size: 3rem;
  }
}

