div.main-header {
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;

  h1 {
    font-size: 1.8rem;
    font-family: 'Helvetica Neue', Arial;
    font-weight: 700;
    a{
      color: black;
    }
  }
  .jumbotron {
    border-bottom: 1px solid rgb(241, 241, 241);
    padding-bottom: 60px;
  }
}

.social-nav {
  position: absolute;
  bottom: 0;
  right: 50px;
  height: 50px;
  margin-top: -10px;
  ul {
    text-align: right;
    padding-left: 0;
  }
  li { display: inline-block; }
  i { font-size: 3rem; }
}