aside.sidebar {
  height: 100%;
  left: 0;

  .publication-name {
    font-size: 1.3rem;
    margin: 5px 0 0 0;
    cursor: pointer;
  }
  .article-title {
    font-size: 1.3rem;
    padding-left: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
    color: rgb(153, 153, 153);

    background: #ff3232;
    background: linear-gradient(to right, yellow 50%, white 50%);
    background-size: 280% 100%;
    background-position:right bottom;
    background-repeat: no-repeat;
    transition:all .9s ease;
  }
  .article-title:hover,
  .highlight {
    color: #333333 !important;
    background-position:left bottom !important;
  }

  hr { margin: 0; }
}

.article-title { opacity: 0; }
.publication-name { opacity: 0; }
