aside.sidebar {
  height: 100%;
  position: fixed;
  left: 0;
  overflow: scroll;

  .publication-name {
    font-size: 1.3rem;
    margin: 5px 0 0 0;
  }
  .article-title {
    font-size: 1.3rem;
    padding-left: 5px;
    margin: 0;
    color: rgb(153, 153, 153);
  }
  .article-title:hover {
    color: #333333;
  }

  hr { margin: 0;}
}

.highlight {
  background-color: yellow;
}