/*about me*/
.social-link {
  border: 0px solid black;
  color: black;
  background: none;
  position: relative;
  text-align: center;
  padding: 10px 20px;
  transition: all .3s;
}
.social-link:visited { color: black; }
.social-link.text { font-weight: 600; }
.social-item {
  .logo { font-size: 2.5rem;}
  vertical-align: middle;
}

.social-link:after {
  width: 101%;
  height: 0%;
  top: 50%;
  left: 50%;
  opacity: 0;
  padding-bottom: 14px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: black;
  content: '';
  position: absolute;
  z-index: -1;
  transition: all .3s;
}
.social-link:hover:after{
  height: 100%;
  opacity: 1;
}
.social-link:hover { color: white; }
