<div class="admin-nav btn-group" role="group">
  <%= link_to "add article", new_article_path, {class: "btn btn-default", role: "button"} %>
  <%= link_to "logout", {controller: 'sessions', action: 'logout'}, {class: "btn btn-default", role: "button"} %>
</div>