<% if current_admin? %>
<%= render partial: 'layouts/admin_nav' %>
<% end %>

<div class="container-fluid navbar navbar-fixed-top main-header col-xs-12">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="jumbotron">

          <h1><a href="<%= root_path %>">Jason O. Gilbert</a></h1>


        <div class="social-nav">
          <ul class="">
            <li class="social-item">
              <a href="/about-me" class="social-link text">about me</a>
            </li>
            <li class="social-item">
              <a href="https://twitter.com/gilbertjasono" class="social-link logo fi flaticon-social-3" title="twitter"></a>
            </li>
            <li class="social-item">
              <a href="https://www.linkedin.com/in/jason-gilbert-873a7815" class="social-link logo fi flaticon-social-4" title="Rss"></a>
            </li>
            <li class="social-item">
              <a href="https://www.facebook.com/gilbertjasono" class="social-link logo fi flaticon-social-2" title="Rss"></a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>



</div>
