<div class="container-fluid main-header col-xs-12">
  <div class="row">
    <div class="jumbotron">
      <h1>Jason O. Gilbert</h1>
    </div>
  </div>

  <div class="col-md-12 social-nav hi-icon-effect-1 hi-icon-effect-1a hi-icon-wrap">
    <ul class="social-network social-circle">
      <li>
        <a href="#" class="about-me-link">about me</a>
      </li>
      <li>
        <a href="https://twitter.com/gilbertjasono" class="hi-icon fi flaticon-social-3" title="twitter"></a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/jason-gilbert-873a7815" class="hi-icon fi flaticon-social-4" title="Rss"></a>
      </li>
    </ul>
  </div>

</div>
