<div class="container-fluid navbar navbar-fixed-top main-header col-xs-12">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="jumbotron">

          <h1><a href="#">Jason O. Gilbert</a></h1>


        <div class="social-nav hi-icon-effect-1 hi-icon-effect-1a hi-icon-wrap">
          <ul class="social-network social-circle">
            <li class="social-icon about-me">
              <a href="#" class="about-me-link">about me</a>
            </li>
            <li class="social-icon">
              <a href="https://twitter.com/gilbertjasono" class="hi-icon fi flaticon-social-3" title="twitter"></a>
            </li>
            <li class="social-icon">
              <a href="https://www.linkedin.com/in/jason-gilbert-873a7815" class="hi-icon fi flaticon-social-4" title="Rss"></a>
            </li>
          </ul>
        </div>

      </div>

    </div>
  </div>



</div>
